
.we{
	position:absolute;
	right:80px;
}
.we:hover{
	font-size:1.5em;
}
@font-face
{
font-family: myFirstFont;
src: url("images/haha.ttf");
 }
h1{
	font-family:myFirstFont;
	font-size: 6em;
	letter-spacing:30px;
	
}

	
.text {
	  width: 47%;
	  padding: 1em 2em 1em 3em;
	  color: #9199aa;
	  font-size: 18px;
	  outline: none;
	  border: none;
	  font-weight: 100;
	  border-bottom: 1px solid#484856;
	  margin-top: 2em;
	  border-top-left-radius:15px;
      border-top-right-radius:15px;
	  }
.password{
	  width: 47%;
	  padding: 1em 2em 1em 3em;
	  color: #dd3e3e;
	  font-size: 18px;
	  font-weight: 100;
	  border-bottom: 1px solid#484856;
	  margin-bottom: 3em;
	  outline: none;
	  border: none;
	  border-bottom-left-radius:15px;
      border-bottom-right-radius:15px;
 }
input[type="submit"]{
  font-size: 30px;
  color:#C4E1FF;
  outline: none;
  border: none;
  background: #AE00AE;
  width: 100%;
  padding: 11px 0;

}
input[type="submit"]:hover {
  font-size: 30px;
  color:#4DFFFF;
  outline: none;
  border: none;
  background: #FF359A;
  width: 100%;
  padding: 11px 0;
 
   
}
.user img {
  margin: 2em 0 0;
  padding-bottom:0em;
  
}


body{
	
	background: url("images/memory3.jpg") no-repeat 0px 0px;
	font-family: 'Open Sans', sans-serif;
	background-size:cover;
	min-height:800px;
	
}
.wrap{
	margin: 0 auto;
	width: 80%;
}
.head {
  padding: 5px 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  color:#AE00AE;
  background: #00E3E3;
  height: 50px;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}/*shangmian*/
.head:hover{
	 padding: 5px 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  color:#FF359A;
  background: #00E3E3;
  height: 50px;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}
.form {
	background: #CAFFFF;
	position: relative;
	width: 30%;
	margin: 1% auto 0 auto;
	text-align: center;
	border-radius: 15px;
	position:relative;
	bottom:3em;
	opacity: 0.9;
}
.regist{
  font-size: 30px;
  color:#C4E1FF;
  outline: none;
  border: none;
  text-underline: none;
  background:#930093;
  width: 100%;
  padding: 2px 0;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
}
.regist:hover{
	font-size: 30px;
  color:#C4E1FF;
  outline: none;
  border: none;
  background: #FF359A;
  width: 100%;
  padding: 2px 0;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
}
/*zhongxian*/

